node_modules/
dist/
release/
.data/
.cache/

*.log
errores_sistema.log

database.sqlite
productos.json
ventas.json
fiados.json
historial.json
cierres.json
pedidos.json
usuarios.json

certs/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
